<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

 <section id="about-us">
        <div class="container">

        	<!-- about us slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>

					<div class="carousel-inner">
						<div class="item active">
						<center>
							<img src="images/slider/img1.png" class="img-responsive">
						</center>
					   </div>
					 <!--  <div class="item">
							<img src="images/slider_one.jpg" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img src="images/slider_one.jpg" class="img-responsive" alt=""> 
					   </div> -->
					</div>
					
					<!--<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a> -->
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->


			<div class="center wow fadeInDown">
				<h2>Trezz Cosméticos</h2>
				<p class="lead">Trezz Cosméticos é uma empresa jovem, com espírito inovador trazendo para o mercado produtos de alta qualidade com preço justo ao consumidor. Focamos sempre na recompra dos consumidores, investimos em matéria prima de alta qualidade, assim como embalagens e fragrâncias diferenciadas.</p>
			</div>
			
		
			
			
			<!-- Our Skill -->
			<div class="skill-wrap clearfix">
			
				<div class="center wow fadeInDown">
					<h2>Missão (Razão para existir): </h2>
                                        <p class="lead">Promover acesso a beleza, saúde e bem-estar as pessoas com produtos de qualidade e preço justo. Voltada para operação com bons processos, desenvolvendo as pessoas, aperfeiçoando produtos, sempre buscando rentabilidade que assegure crescimento da empresa, de nossos parceiros e colaboradores.</p>
                             </div>

				<div class="center wow fadeInDown">
				     <h2>Visão: </h2>
                                          <p class="lead">Buscar o reconhecimento dos produtos oferecidos e ampliar nossa participação no mercado brasileiro.</p>
				</div>
				
	
            </div><!--/.our-skill-->
			

		</div><!--/.container-->
    </section><!--/about-us-->

 {% include footer.html %}

</body>
</html>
