<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  
  <section id="contact-info">
       <div class="container">

          <div class="center">
               <h2>Batons Trezz</h2>
               <p class="lead">Nova coleção batons</p>
            </div>


       <div class="col-sm-12 col-md-12 col-xs-12">

              <div class="thumbnail" style="border:none; background:white;">

              <div class="col-sm-6 col-md-6 col-xs-12 image-container">
                <img  id="myImg" src="images/batom1.JPG" style="height:350px;width:500px;margin-left:-15px;" />
              </div>

              <div class="col-sm-6 col-md-6 col-xs-12">  

                <h3>Batons Trezz Cosméticos</h3>
                 <p style="font-size:13px; color:#03225C;">CORES: </p>
                <button  type="button" class="batom1"  onClick="document.getElementById('myImg').src='images/batom2.png'"></button>
            &nbsp; <button  type="button" class="batom2"  onClick="document.getElementById('myImg').src='images/batom1.JPG'"></button>

              </div>
              </div>

 </div>
 </div>
    </section><!--/#contact-page-->


 {% include footer.html %}



</body>
</html>
