<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  
  <section id="contact-info">
       <div class="container">

          <div class="center">
               <h2>Batons Trezz Cosméticos</h2>
               <p class="lead">Nova coleção de batons que toda mulher se apaixona. </p>
            </div>

         <div class="visible-xs-* visible-sm-* hidden-md hidden-lg" >
       <div class="col-sm-12 col-md-12 col-xs-12">

              <div class="thumbnail" style="border:none; background:white;">

              <div class="col-sm-6 col-md-6 col-xs-12 image-container imgwrapper">
                <img  id="myImg2" class="img-responsive"src="images/batons/atrevida.JPG"  />
              </div>

              <div class="col-sm-6 col-md-6 col-xs-12">  

                <h3 id="nomeBatom2">Toda atrevida</h3>
                 <p style="font-size:13px; color:#03225C;">CORES: </p>
              <button  type="button" class="atrevida"  onClick="changeImage2('atrevida')"></button>
             &nbsp;
               <button  type="button" class="baladeira"  onClick="changeImage2('baladeira')"></button>
                &nbsp;
               <button  type="button" class="bela"  onClick="changeImage2('bela')"></button>
                &nbsp;
               <button  type="button" class="bonita"  onClick= "changeImage2('bonita')"></button>
                &nbsp;
              <button  type="button" class="charmosa"  onClick="changeImage2('charmosa')"></button>
              &nbsp;
                <button  type="button" class="delicada"  onClick="changeImage2('delicada')"></button>
              &nbsp;

              </br>


                  <button  type="button" class="deusa"  onClick="changeImage2('deusa')"></button>
                &nbsp;
               <button  type="button" class="elegante"  onClick="changeImage2('elegante')"></button>
                &nbsp;
               <button  type="button" class="fashion"  onClick= "changeImage2('fashion')"></button>
                &nbsp;
              <button  type="button" class="glamurosa"  onClick="changeImage2('glamurosa')"></button>
              &nbsp;
                <button  type="button" class="graciosa"  onClick="changeImage2('graciosa')"></button>
              &nbsp;

              </br>



                 <button  type="button" class="linda"  onClick="changeImage2('linda')"></button>
             &nbsp;
               <button  type="button" class="meiga"  onClick="changeImage2('meiga')"></button>
                &nbsp;
               <button  type="button" class="misteriosa"  onClick="changeImage2('misteriosa')"></button>
                &nbsp;
               <button  type="button" class="moderna"  onClick= "changeImage2('moderna')"></button>
                &nbsp;
                 <button  type="button" class="ousada"  onClick="changeImage2('ousada')"></button>
                &nbsp;
               <button  type="button" class="paty"  onClick= "changeImage2('paty')"></button>

               </br>
         

                     <button  type="button" class="poderosa"  onClick="changeImage2('poderosa')"></button>
                &nbsp;
               <button  type="button" class="sedutora"  onClick= "changeImage2('sedutora')"></button>
                &nbsp;
                 <button  type="button" class="sofisticada"  onClick="changeImage2('sofisticada')"></button>
                &nbsp;
               <button  type="button" class="vaidosa"  onClick= "changeImage2('vaidosa')"></button>


              </div>
              </div>

 </div>

 </div>


 <div class="col-xs-12 hidden-xs hidden-sm" >  



  <div class="col-sm-12 col-md-12 col-xs-12">

              <div class="thumbnail" style="border:none; background:white;">

              <div class="col-sm-6 col-md-6 col-xs-6 image-container  imgpd">
                <img  id="myImg" class="img-responsive"src="images/batons/atrevida.JPG"  />
              </div>



              <div class="col-sm-6 col-md-6 col-xs-6">  
              <div class="col-sm-2 col-md-2 col-xs-2">  </div>
              <div class="col-sm-10 col-md-10 col-xs-10">  

                <h3 id="nomeBatom">Toda atrevida</h3>
                 <p style="font-size:13px; color:#03225C;">CORES: </p>
              <button  type="button" class="atrevida"  onClick="changeImage('atrevida')"></button>
             &nbsp;
               <button  type="button" class="baladeira"  onClick="changeImage('baladeira')"></button>
                &nbsp;
               <button  type="button" class="bela"  onClick="changeImage('bela')"></button>
                &nbsp;
               <button  type="button" class="bonita"  onClick= "changeImage('bonita')"></button>
                &nbsp;
              <button  type="button" class="charmosa"  onClick="changeImage('charmosa')"></button>
              &nbsp;
                <button  type="button" class="delicada"  onClick="changeImage('delicada')"></button>
              &nbsp;

              </br>


                  <button  type="button" class="deusa"  onClick="changeImage('deusa')"></button>
             &nbsp;
               <button  type="button" class="diva"  onClick="changeImage('diva')"></button>
                &nbsp;
               <button  type="button" class="elegante"  onClick="changeImage('elegante')"></button>
                &nbsp;
               <button  type="button" class="fashion"  onClick= "changeImage('fashion')"></button>
                &nbsp;
              <button  type="button" class="glamurosa"  onClick="changeImage('glamurosa')"></button>
              &nbsp;
                <button  type="button" class="graciosa"  onClick="changeImage('graciosa')"></button>
              &nbsp;

              </br>



                 <button  type="button" class="linda"  onClick="changeImage('linda')"></button>
             &nbsp;
               <button  type="button" class="meiga"  onClick="changeImage('meiga')"></button>
                &nbsp;
               <button  type="button" class="misteriosa"  onClick="changeImage('misteriosa')"></button>
                &nbsp;
               <button  type="button" class="moderna"  onClick= "changeImage('moderna')"></button>
                &nbsp;
                 <button  type="button" class="ousada"  onClick="changeImage('ousada')"></button>
                &nbsp;
               <button  type="button" class="paty"  onClick= "changeImage('paty')"></button>

               </br>
         

                     <button  type="button" class="poderosa"  onClick="changeImage('poderosa')"></button>
                &nbsp;
               <button  type="button" class="sedutora"  onClick= "changeImage('sedutora')"></button>
                &nbsp;
                 <button  type="button" class="sofisticada"  onClick="changeImage('sofisticada')"></button>
                &nbsp;
               <button  type="button" class="vaidosa"  onClick= "changeImage('vaidosa')"></button>

</div>
              </div>
              </div>

 </div>




 </div>





 </div>
    </section><!--/#contact-page-->


 {% include footer.html %}



</body>
</html>
