<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

            <section id="contact-info">
                    <div class="center">
                        <h2>Seja um(a) revendedor(a) trezz</h2>
                   </div>

        <div class="container">
            <div class="row">
          <p> Bem-vinda ao mundo <b>Trezz</b> cosméticos, conheça um pouco da nossa história. </p>

          <p>Fundada em 2010 por uma jovem empreendedora que ama o mundo da maquiagem e dos cosméticos.</br>
          <p>A criação da nossa linha de maquiagens aconteceu pela indignação por pagar preços absurdos para adquirir produtos de boa qualidade aqui no Brasil, e acabou se transformou em um sonho: Por que não criar produtos que sejam de alta qualidade por preço justo?</p>
          <p>Depois de anos de pesquisas, descobrimos como fazer produtos <b>ELEGANTES E ACESSÍVEIS</b>, com um toque brasileiro pois entendemos das nossas cores, texturas, tipo de pele e dia-a-dia. </p>
          <p>Nossos produtos possuem tecnologia internacional, o que existe de melhor no mundo nós conseguimos ter acesso e colocamos em nossos produtos. Por exemplo: </p>
Coloração e pigmentação Alemã (melhores do mundo) </br>
Cosmética Francesa (amamos) </br>
Produtos destinados a pele, possuem componentes japoneses (eles são referência nessa área)!! </br> </br>
<p>Lembrando: <b> NÃO TESTAMOS NOSSOS PRODUTOS EM ANIMAIS.</b></p>
<p>
Sabe o que mais amamos, <b>QUANDO VOCÊS COMPARTILHAM SUAS EXPERIÊNCIAS COM A GENTE!!!</b>Utilizem sempre #trezzcosmeticos quando fizerem uma make lindíssima.
</p>



                  <!--  <div class="center">
                        <h4><a href="http://trezzcosmeticos.pagedemo.co/"  target="_blank">Clique aqui e saiba mais.</a></h4   >
                   </div> -->


            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->




    <section id="contact-page">
        <div class="container">
            <div class="center">
                <h2>Entre em contato</h2>

                <h2>Envie sua mensagem:</h2>
                    <p class="lead"></p>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form name="sentMessage" id="contactForm" class="contact-form"  action="https://formspree.io/contato@trezzcosmeticos.com.br"
      method="POST" >
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>Nome *</label>
                            <input type="text"  ype="text" class="form-control"
                                    id="nome" required name="nome"
                                    data-validation-required-message="Por favor digite o seu nome.">
                                <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <label>Email *</label>
                            <input type="email" name="email"     id="email" required name="email"
                                    data-validation-required-message="Por favor digite o seu email." class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Telefone</label>
                            <input type="number" name="telefone"     id="telefone" required name="telefone"
                                    data-validation-required-message="Por favor digite o seu telefone." class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Assunto *</label>
                            <input type="text" name="assunto"     id="assunto" required name="assunto"
                                    data-validation-required-message="Por favor digite o  assunto." class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Mensagem *</label>
                            <textarea name="mensagem"   id="mensagem" required name="mensagem"
                                    data-validation-required-message="Por favor digite a sua mensagem." required class="form-control" rows="8"></textarea>
                        </div>
                        <input type="hidden" name="_next" value="/contact-us.html?sucesso" />
                        <div class="form-group">
                        <button type="submit" id="myButton" data-loading-text="Aguarde o envio do e-mail..."
                                 autocomplete="off" class="btn btn-primary btn-lg">Enviar</button>
                        </div>

                    <div class="form-group">
                       <div id="sucesso"  style="display: none;" class="alert alert-success">Seu e-mail foi enviado com sucesso!</div>
                    </div>

                    </div>



                </form>
            </div><!--/.row-->
        </div><!--/.container-->

    </section>  <!--/gmap_area -->




    <script>
          // This function is anonymous, is executed immediately and
          // the return value is assigned to QueryString!
          var query_string = {};
          var query = window.location.search.substring(1);

          if(query != ""){
            document.getElementById("sucesso").style.display = 'block';
         }
  </script>

 {% include footer.html %}

</body>
</html>
