
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                  Copyright © 2017 - Trezz Cosméticos        
                </div>
                <div class="col-sm-6">

                    <ul class="pull-right">
                        <li ><a href="/index.html">Home</a></li>
                        <li><a href="/about-us.html">Empresa</a></li>
                           <li><a href="/batons.html">Batons</a></li> 
                        <li><a href="/products.html">Produtos</a></li>
                        <li><a href="/contact-us.html">Contato</a></li> 
                        <li><a href="https://www.facebook.com/trezzcosmeticos/"  target="_blank"><img src="images/ico/facebook.png"></a></li>
                        <li><a href="https://www.instagram.com/trezzcosmeticos/"  target="_blank" ><img src="images/ico/instagram.png"></a></li>     
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

